---
import Layout from './components/layout.astro';
---

<Layout title="Staff招募">
<div class="main">
    <script is:inline>setPersonImg('./image/b/suika.png');</script>
    <div class="page-staff page-content">
        <div class="page-title">
            <h1>Staff招募</h1>
        </div>
        <div class="ch container article">
            <h2>展会官方工作人员招募</h2>
            <p>如果您希望作为工作人员来参与本次展会，请直接与页面底部主办方邮箱进行联络。<br>
                本工作为有偿工作，待遇条件通过后详谈。Staff工作经验丰富者优先。<br>
                联系时请说明是工作人员申请，请一并给出以往作为展会工作人员的经历等自我介绍材料。
            </p>
            <!--TODO:更新招募信息-->
            <div class="line"><a class="button" target="_blank" href="https://wj.qq.com/s2/22689007/ql8i/">填写报名表单</a>
                复制用：https://wj.qq.com/s2/22689007/ql8i/
            </div>
        </div>
        <div class="ch container article">
            <!--TODO:更新招募信息-->
            <h2>展会官方Cosplay板娘招募</h2>
            <p>如果您希望作为官方板娘参与本次展会，请直接与页面底部主办方邮箱进行联络。<br>
                仅限女性，对外观有一定要求。板娘工作经验丰富者优先。<br>
                联系时请说明是官方板娘申请，请一并给出以往作为板娘的经历、照片等自我介绍材料。
            </p>
            <div class="line"><a>暂未开放</a>
            </div>
        </div>
    </div>
</div>
</Layout>