---
import Layout from './components/layout.astro';
---

<Layout title="特殊参展申请">
<div class="main">
    <div class="page-staff page-content">
        <div class="page-title">
            <h1>特殊参展申请</h1>
        </div>
        <div class="ch container article">
            <h2>媒体/摄影师参展申请</h2>
            <p>本次展会接受媒体、摄影参展申请。<br>
                配发媒体证（或工作证），持证可入场，并在场内自由摄影。同时会有一定的媒体任务安排。<br>
                详情请直接与页面底部主办方邮箱进行联络。<br>
                联系时请说明是媒体参展申请，请一并给出以往作为媒体参展时候的拍摄作品或媒体文章链接。
            </p>
        </div>
        <div class="ch container article">
            <h2>业界/专业观众参展申请</h2>
            <p>本次展会接受东方同人业界、职业同人工作者作为专业观众的参展申请。<br>
                配发专业观众证（或工作证）。持证可入场。<br>
                详情请直接与页面底部主办方邮箱进行联络。<br>
                联系时请说明是业界参展申请，请一并给出相关证明材料。
            </p>
        </div>
        <div class="ch container article">
            <h2>主办方联系邮箱</h2>
            <div class="line"><a class="button" href="mailto:event@thonly.name">event@thonly.name</a>
                复制用：event@thonly.name
            </div>
        </div>
    </div>
</Layout>