---
import Layout from './components/layout.astro';
---

<Layout title="关于展会">
<div class="main">
    <script>setPersonImg('./image/b/satori.png');</script>
    <div class="page-iframe">
        <div class="page-title">
            <h1>展位招募</h1>
        </div>

        <div class="iframe-box">
            <iframe allowfullscreen frameborder="0" src="https://wj.qq.com/s2/8488047/d291/"></iframe>
        </div>
    </div>
</div>
</Layout>