---
import Layout from './components/layout.astro';
---
<Layout title="首页">
<div class="main">
    <div class="page-index">
        <div class="page-title">
            <h1>イベントについて</h1>
        </div>
        <div class="ch meta intro">
            <div class="intro-post" style="background-image: url(/2025/image/intro-post.jpg);"></div>
            <div class="container desc">
                <h2 class="event-title">魅知幻想博覧会2024</h2>
                <h1 class="event-title">星辉琉璃</h1>
                <p>星々はかつて虹のように集まり、空を照らしました。新しい章はすでに静かに始まっています。<br>時の流れは止まることなく、一年に一度の時が再び訪れました——<br>今この瞬間、星の輝きは一層増し、すべての星が天空で煌めき、<br>輝かしいガラスのような星海を形成しています。
                </p><br>
                <p>東方を愛するあなたは、この無限の星海の中で輝く一つ一つの光です。
                </p>
                <p>どの星空のどの領域から来たとしても、どのような色の光を放つとしても、
                    <br>
                    この瞬間、再び一つに集まり、このガラスのように美しい星空を共に照らします。
                    <br>
                    国内の東方Projectの現在の無限の活力が、ガラスの天穹を映し出します。</p>
            </div>
        </div>

        <div class="ch event-preview event-shanghai">
            <div class="container event-item">
                <div class="main-content">

                    <div class="event-title-box">
                        <div class="event-title">魅知幻想博览会2025·星核碳酸<br>×<br>上海THONLY</div>
                        <div class="event-subtitle-box">
                            <div class="event-subtitle">大型東方テーマ即売会</div>
                            <div class="event-subtitle">· 上海跨國採購會展中心<br/>· 2024年8月18日 10:00-16:00</div>
                        </div>
                    </div>

                    <div class="links">
                        <a class="item" href="./ticket.html" target="_self">
                            <i class="icon icon-ticket"></i>
                            チケット販売
                        </a>
                        <a class="item" href="https://j.map.baidu.com/56/zbc" target="_blank">
                            <i class="icon icon-position"></i>会場情報
                        </a>
                    </div>

                    <div class="links" style="padding-top: 20px;">
                        <p style="margin-bottom: 10px;">日本向けの同人サークル募集</p>
                        <a class="item" href=" https://wj.qq.com/s2/14811561/5878/" target="_blank">
                            <i class="icon icon-link"></i>申込書
                        </a>
                    </div>

                </div>
                <div class="map-box">
                    <div class="map" id="map-event"></div>
                    <h1 class="position">即売会</h1>
                </div>
            </div>
        </div>

        <div class="ch event-preview event-other">
            <div class="container event-item">
                <div class="main-content">

                    <div class="event-title-box">
                        <div class="event-title">第十三届上海THONLY·东方琢火蝶</div>
                        <div class="event-subtitle-box">
                            <div class="event-subtitle">大型東方テーマLive</div>
                            <div class="event-subtitle">· バンダイナムコ上海文化センター<br/>· 2024年8月17日</div>
                        </div>
                    </div>

                    <div class="links">
                        <a class="item" href="https://shthonly.org/th12/ja/" target="_blank">
                            <i class="icon icon-link"></i>
                            イベントサイト
                        </a>
                        <a class="item" href="https://j.map.baidu.com/75/Jxd" target="_blank">
                            <i class="icon icon-position"></i>会場情報
                        </a>
                        <a class="item" href="./ticket.html" target="_self">
                            <i class="icon icon-ticket"></i>
                            チケット販売
                        </a>
                    </div>

                </div>

                <div class="map-box">
                    <div class="map" id="map-live"></div>
                    <h1 class="position">Live</h1>
                </div>
            </div>
        </div>

        <div class="ch event-preview event-other">
            <div class="container event-item">
                <div class="main-content">
                    <div class="event-title-box">

                        <h1 class="position">交響</h1>
                        <div class="event-title">幻奏盛宴コンサート 2024上海場</div>
                        <div class="event-subtitle-box">
                            <div class="event-subtitle">大型東方テーマコンサート</div>
                            <div class="event-subtitle">· ジャガー上海交響楽団ホール<br/>· 2024年8月18日 19:00-21:00
                            </div>
                            <div class="event-subtitle event-subtitle-divider">まだチケットの販売は開始されていません
                            </div>
                        </div>
                    </div>

                    <div class="links">
                        <a class="item" href="https://j.map.baidu.com/74/tnK" target="_blank">
                            <i class="icon icon-position"></i>会場情報
                        </a>
                        <a class="item" href="./ticket.html" target="_self">
                            <i class="icon icon-ticket"></i>
                            チケット販売
                        </a>
                    </div>
                </div>

                <div class="map-box">
                    <div class="map" id="map-huanzou"></div>
                    <h1 class="position">交響</h1>
                </div>
            </div>
        </div>


        <script src="https://api.map.baidu.com/api?v=2.0&ak=64665E5BCEdfb17ec826f5f890f07c57"
                type="text/javascript"></script>
        <script is:inline>function initMap(element, pointlat, pointlng) {
            var map = new BMap.Map(element);
            var point = new BMap.Point(pointlat, pointlng);
            map.centerAndZoom(point, 14);
            var marker = new BMap.Marker(point);
            map.addOverlay(marker)
        }

        window.onload = function () {
            initMap('map-event', 121.505934, 31.242497)
            initMap('map-live', 121.471705, 31.167799)
            initMap('map-huanzou', 121.449387, 31.232819)
        }
        setPersonImg('./image/b/reimu.png');</script>
    </div>
</div>
        </Layout>