---
import Layout from './components/layout.astro';
---
<Layout title="首页" sideBg="/2025/image/b/reimu.png">

<div class="main">
    <div class="page-index">
        <div class="page-title">
            <h1>关于活动</h1>
        </div>
        <div class="ch meta intro">
            <div class="intro-post" style="background-image: url(/2025/image/intro-post.jpg);"></div>
            <div class="container desc">
                <h2 class="event-title">魅知幻想博览会2025</h2>
                <h1 class="event-title">星核碳酸</h1>
                <!--TODO:更新介绍-->
                <p>写新的写新的写新的写新的写新的写新的写新的写新的写新的写新的写新的写新的写新的写新的</p>
            </div>
        </div>

        <div class="ch event-preview event-shanghai">
            <div class="container event-item">
                <div class="main-content">

                    <div class="event-title-box">
                        <div class="event-title">魅知幻想博览会2025·星核碳酸<br>×<br>上海THONLY</div>
                        <div class="event-subtitle-box">
                            <div class="event-subtitle">大型东方主题展会</div>
                            <div class="event-subtitle">· 上海市浦东新区陆家嘴西路168号正大广场<br/>· 2025年8月9日
                                9:00-16:00
                            </div>
                            <div class="event-subtitle">展会游客群：<a
                                    href="http://qm.qq.com/cgi-bin/qm/qr?_wv=1027&k=LncoHv4pRm9x-YVYHxCJ---QQuGO4DiB&authKey=MBzt3d8pzmzvO8cG6w%2BkxZ3gEneOob48b%2FqG2QCM59JreFiF%2BHsuxnyuS6QebWVp&noverify=0&group_code=992051946"
                                    target="_blank"><b>992051946</b></a></div>
                        </div>
                    </div>

                    <div class="links">
                        <!--TODO:更新票务等链接-->
                        <a class="item" href="./ticket.html" target="_self">
                            <i class="icon icon-ticket"></i>
                            售票信息
                        </a>
                        <a class="item" href="https://j.map.baidu.com/6a/WTJ" target="_blank">
                            <i class="icon icon-position"></i>地图导航
                        </a>
                    </div>

                </div>

                <div class="map-box">
                    <div class="map" id="map-event"></div>
                    <h1 class="position">展会</h1>
                </div>
            </div>
        </div>

        <div class="ch event-preview event-other">
            <div class="container event-item">
                <div class="main-content">

                    <div class="event-title-box">
                        <div class="event-title">第十三届上海THONLY·东方琢火蝶</div>
                        <div class="event-subtitle-box">
                            <div class="event-subtitle">大型东方主题Live</div>
                            <div class="event-subtitle">· 上海市龙腾大道2266号3号楼3层瓦肆VAS est<br/>· 2025年8月10日
                                15:00～21:00
                            </div>
                            <div class="event-subtitle">Live观众群：<a
                                    href="http://qm.qq.com/cgi-bin/qm/qr?_wv=1027&k=Xe8MQvXLPE_xQcGvD9JcP9LitGxWBtTR&authKey=PruQaQd9JFmh0UvL%2BxLSQNdJHQm32XoJDQ8bH%2FGISWOYN9e4gYmlb3sJz6kynTBW&noverify=0&group_code=386286978"
                                    target="_blank"><b>386286978</b></a></div>
                        </div>
                    </div>

                    <div class="links">
                        <!--TODO:更新票务等链接-->
                        <a class="item" href="./ticket.html" target="_self">
                            <i class="icon icon-ticket"></i>
                            售票信息
                        </a>
                        <a class="item" href="https://j.map.baidu.com/52/X0Mk" target="_blank">
                            <i class="icon icon-position"></i>地图导航
                        </a>
                        <a class="item" href="https://shthonly.org/th12/zh/" target="_blank">
                            <i class="icon icon-link"></i>
                            活动网站
                        </a>
                    </div>

                </div>

                <div class="map-box">
                    <div class="map" id="map-live"></div>
                    <h1 class="position">Live</h1>
                </div>
            </div>
        </div>

        <div class="ch event-preview event-other">
            <div class="container event-item">
                <div class="main-content">
                    <div class="event-title-box">

                        <div class="event-title">幻奏盛宴·2025和音社上海场</div>
                        <div class="event-subtitle-box">
                            <div class="event-subtitle">大型东方主题交响音乐会</div>
                            <div class="event-subtitle">· 和音社交响乐团<br/>· 上海市北京西路1700号云峰剧院<br/>·
                                2025年8月9日 19:00～21:00
                            </div>
                            <div class="event-subtitle">交响乐观众群：<a
                                    href="http://qm.qq.com/cgi-bin/qm/qr?_wv=1027&k=Aqz6wzqB8n0v0Gnb-oRY-S9RvvMOPicM&authKey=DscnsJPl%2FojQhfXoXtzj88m4kQqOdaVbvxnbp2fmDM%2FhGjikklCI3OFFS3%2Bdtouo&noverify=0&group_code=495118911"
                                    target="_blank"><b>495118911</b></a></div>
                        </div>
                    </div>

                    <div class="links">
                        <!--TODO:更新票务等链接-->

                        <!-- <a class="item" href="http://touhou-symphony.net/" target="_blank">
                          <i class="icon icon-link"></i>
                          详细信息
                        </a>-->
                        <a class="item" href="./ticket.html" target="_self">
                            <i class="icon icon-ticket"></i>
                            售票信息
                        </a>
                        <a class="item" href="https://j.map.baidu.com/51/cif" target="_blank">
                            <i class="icon icon-position"></i>地图导航
                        </a>
                    </div>
                </div>


                <div class="map-box">
                    <div class="map" id="map-huanzou"></div>
                    <h1 class="position">交响乐</h1>
                </div>
            </div>
        </div>


        <script src="https://api.map.baidu.com/api?v=2.0&ak=64665E5BCEdfb17ec826f5f890f07c57" type="text/javascript"/>
        <script type="text/javascript">
            function initMap(element, pointlat, pointlng) {
            var map = new BMap.Map(element);
            var point = new BMap.Point(pointlat, pointlng);
            map.centerAndZoom(point, 14);
            var marker = new BMap.Marker(point);
            map.addOverlay(marker)
        }

        window.onload = function () {
            initMap('map-event', 121.505934, 31.242497)
            initMap('map-live', 121.471705, 31.167799)
            initMap('map-huanzou', 121.449387, 31.232819)
        }
        </script>
    </div>
</div>
</Layout>