---
import Layout from './components/layout.astro';
---
<Layout title="首页">
<div class="main">
    <div class="page-index page-music">
        <div class="page-title">
            <h1>关于活动</h1>
        </div>
        <div class="ch meta intro">
            <div class="intro-post shth11" style="background-image: url(/2025/image/intro-post-shth11.jpg);"></div>
            <div class="container desc shth11">
                <h1 class="event-title event-header-title">上海THONLY·东方露明境</h1>
                <p>上海THONLY开始于2009年，是国内最早的东方主题活动。</p>
                <p>2019年的第十届上海THONLY也是国内迄今为止规模最大的东方主题音乐Live。</p>
                <p>本届Live与展会魅知幻想博览会2025·星核碳酸同期举办，</p>
                <p>将时隔四年再度为国内东方同音爱好者带来最高规格的音乐享受。</p>
            </div>
        </div>

        <div class="ch event-preview event-shanghai ">
            <div class="container event-item">
                <div class="main-content">
                    <div class="event-title-box">
                        <h1 class="position">Live</h1>
                        <div class="event-title">第十一届上海THONLY·东方露明境</div>
                        <div class="event-subtitle-box">
                            <div class="event-subtitle">· 上海万代南梦宫文化艺术中心<br/>· 2023年8月20日 15:00～21:00
                            </div>
                            <div class="event-subtitle event-subtitle-divider">7月15日开始门票销售</div>
                        </div>
                    </div>
                    <div class="links">
                        <a class="item" href="https://shthonly.org/" target="_blank">
                            <i class="icon icon-link"></i>
                            活动官网
                        </a>
                        <a class="item" href="https://j.map.baidu.com/75/Jxd" target="_blank"><i
                                class="icon icon-position"></i><span>地图导航</span></a>
                        <a class="item" href="https://thonly.taobao.com/" target="_self"><i
                                class="icon icon-ticket"></i><span>淘宝购票</span></a>
                    </div>
                </div>
                <div class="map" id="map-shanghai"></div>
            </div>
            <div class="container music-booth">
                <div class="music-booth-list clear">
                    <div class="event-subtitle event-subtitle-divider">参演社团列表</div>
                    <div class="item">
                        <img src="https://shthonly.org/th11/zh/style/index/images/circle/01.png">
                        <p><a href="https://maikaze.com/" target="_blank">舞風-Maikaze</a></p>
                    </div>
                    <div class="item">
                        <img src="https://shthonly.org/th11/zh/style/index/images/circle/02.png">
                        <p><a href="https://shinrabansho-music.com/" target="_blank">森羅万象</a></p>
                    </div>
                    <div class="item">
                        <img src="https://shthonly.org/th11/zh/style/index/images/circle/03.png">
                        <p><a href="http://www.liz-tora.com/liz-tora/" target="_blank">Liz Triangle</a></p>
                    </div>
                    <div class="item">
                        <img src="https://shthonly.org/th11/zh/style/index/images/circle/04.png">
                        <p><a href="https://magicalinterface.wixsite.com/fulingcatmark"
                              target="_blank">フーリンキャットマーク</a></p>
                    </div>
                    <div class="item">
                        <img src="https://shthonly.org/th11/zh/style/index/images/circle/05.png">
                        <p><a href="http://shoyu-sound.jp/tumeneco/" target="_blank">TUMENECO</a></p>
                    </div>
                    <div class="item">
                        <img src="https://shthonly.org/th11/zh/style/index/images/circle/06.png">
                        <p><a href="http://hanipoke.com/" target="_blank">はにーぽけっと</a></p>
                    </div>
                    <div class="item">
                        <img src="https://shthonly.org/th11/zh/style/index/images/circle/07.png">
                        <p><a href="https://space.bilibili.com/100269" target="_blank">TsuBaKi</a></p>
                    </div>
                    <div class="item">
                        <img src="https://shthonly.org/th11/zh/style/index/images/circle/08.png">
                        <p><a href="https://space.bilibili.com/36307" target="_blank">Echollapsar</a></p>
                    </div>
                    <div class="item">
                        <img src="https://shthonly.org/th11/zh/style/index/images/circle/09.png">
                        <p><a href="https://space.bilibili.com/2863937" target="_blank">bunny rhyTHm</a></p>
                    </div>
                    <div class="item">
                        <img src="https://shthonly.org/th11/zh/style/index/images/circle/10.png">
                        <p><a href="https://space.bilibili.com/210232" target="_blank">Yonder Voice</a></p>
                    </div>
                    <div class="item">
                        <img src="https://shthonly.org/th11/zh/style/index/images/circle/11.png">
                        <p><a href="https://space.bilibili.com/875616" target="_blank">疯帽子茶会</a></p>
                    </div>
                    <div class="item">
                        <img src="https://shthonly.org/th11/zh/style/index/images/circle/12.png">
                        <p><a href="https://space.bilibili.com/185205" target="_blank">幻想诗篇Xanadu Canto</a></p>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <div class="container desc">
        <p>* 活动由魅知幻想歌谣会、东方LiveParty提供技术协力</p>
    </div>
    <script src="https://api.map.baidu.com/api?v=2.0&ak=64665E5BCEdfb17ec826f5f890f07c57"
            type="text/javascript"></script>
    <script>function initMap(element, pointlat, pointlng) {
        var map = new BMap.Map(element);
        var point = new BMap.Point(pointlat, pointlng);
        map.centerAndZoom(point, 15);
        var marker = new BMap.Marker(point);
        map.addOverlay(marker)
    }

    window.onload = function () {
        initMap('map-shanghai', 121.446311, 31.255249)
    }
    setPersonImg('/2025/image/b/xiangzi.png');</script>
</div>
</div>
    </Layout>