---
import "./common.scss";
---

<!doctype html>
<html lang="zh">
	<head>
		<meta charset="UTF-8" />
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="ie=edge" http-equiv="X-UA-Compatible">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>魅知幻想夏绽季</title>
	</head>
	<body>
		<div class="main">
		<div class="nav">
			<div class="nav-content">
			<a href="#home"><h2>首页</h2></a>
			<a href="#act"><h2>集点活动</h2></a>
			<a href="#goods"><h2>联动商品</h2></a>
			<a href="#shopping"><h2>消费满赠</h2></a>
			<a href="#store"><h2>主题门店</h2></a>
			<a href="#sns"><h2>社交媒体</h2></a>
		</div>
	</div>
		<div class="main-left">
		<div class="top-head" id="home">
		<div class="content">
			<div class="top-logo">
				<img   src="/img/logo-lawson.png" />
			</div>
			<img class="hero-img" src="/img/top-header.jpg" />
		</div>
			</div>



					<div class="container block-title" id="act">
				<h1>集点活动</h1>
			</div>

					<div class="container block">
			<div class="img-wall">
				
				<p>活动期间前往粤闽罗森指定门店，
					<br />
					结账时扫描<b>罗森点点APP/小程序会员码</b>，<br />单笔实付每<b>满30元集1点</b>，
					<br />
					集满2点点击进入<b>罗森点点APP/小程序</b>活动页面，<br />
					可兑换<b>【东方Projectx罗森联动冰箱贴】</b>1份。</p>
				<img class="item" src="/img/m/act1.jpg" />
				<p>*礼品数量有限，先到先得，兑完即止<br />*礼品领取方式详见活动页面</p>


				<br /> <br />

				<p>活动期间前往粤闽罗森指定门店，
					<br />
					结账时扫描<b>罗森点点APP/小程序会员码</b>，
					<br />
					购买东方Projectx罗森联名包装食品，
					<br />
					<b>1件商品集1点</b>，集满6点，
					<br />
					点击进入<b>罗森点点APP/小程序</b>活动页面，
					<br />
					可兑换<b>【东方Projectx罗森联动电子交通卡卡面】1份</b>。</p>
				<img class="item" src="/img/m/act2.jpg" />
				<p>*礼品数量有限，先到先得，兑完即止<br />*礼品领取方式详见店内海报和罗森小程序活动页面</p>
			</div>
		</div>



			<div class="container block-title" id="goods">
				<h1>联动商品</h1>
			</div>
		<div class="container block">
			<div class="img-wall">

				<h2>东方Project x 罗森<br />联动马口铁徽章盲盒</h2>
				<img class="item" src="/img/m/goods01.jpg" />

				<br /><br />
				<h2>东方Projectx罗森<br />联动亚克力立牌</h2>
				<img class="item" src="/img/m/goods02.jpg" />

				<br /><br />

				<h2>东方Projectx罗森<br />联动镭射票</h2>
				<img class="item" src="/img/m/goods1.jpg" />
				<img class="item" src="/img/m/goods2.jpg" />

								<br /><br />

				<h2>东方Projectx罗森<br />联动毛绒挂件</h2>
				<img class="item" src="/img/m/goods3.jpg" />
			</div>
		</div>

					<div class="container block-title" id="shopping">
				<h1>消费满赠</h1>
			</div>

								<div class="container block">
			<div class="img-wall">
				<p>购买东方Projectx罗森联动周边商品
<br />单笔订单实付<b>满138元并关注</b>
<br />小红书官方账号：<b>【粤闽罗森Lawson】</b>
<br />即送<b>东方Projectx罗森联动mini徽章套装</b></p>
				<img class="item" src="/img/m/s1.jpg" />



				<p>
					6月27日起
<br />购买东方Projectx罗森联动周边商品
<br />单笔订单实付<b>满268元并关注</b>
<br />小红书官方账号：<b>【粤闽罗森Lawson】</b>
<br />即送<b>东方Projectx罗森联动mini徽章套装+
<br />罗森限定痛包</b>
				</p>

					<img class="item" src="/img/m/s2.jpg" />

				<p>赠品数量有限，先到先得，赠完即止</p>
			</div>
		</div>





					<div class="container block-title" id="store">
				<h1>主题门店</h1>
			</div>

											<div class="container block">
			<div class="img-wall">
				<h2>活动1 ★主题店线下消费抽奖活动</h2>
				<p>活动期间，前往主题店单笔消费实付满满50元即可参与现场抽奖，<br />有机会获得特邀画家亲签色纸、东方Projectx罗森联动明信片套装、东方Projectx罗森联动书签（随机1款）。</p>
				<img class="item" src="/img/m/store1.jpg" />
				<img class="item" src="/img/m/store2.jpg" />
				<p>*主题店线下活动为限时活动，实际按店铺操作为准，请关注官方渠道推送信息为准。<br />
*需凭真实有效的主题店线下活动当天店铺收银小票参与<br />*奖品数量有限，先到先得，赠完即止</p>

<br />
<br />
<h2>活动2★一日店长&画家签售会活动</h2>
<br />
<p>深圳及广州主题店将分别推出一日店长COSER和画家签售会活动，<br />各位玩家可前往打卡，合影留念，<br />后续活动详情请见【粤闽罗森Lawson】官方公告信息。</p>
<br />

<h4>主题店</h4>
<table>
<thead>
<tr>
<th>地区</th>
<th>店铺名称</th>
<th>店铺地址</th>
</tr>
</thead>
<tbody>
<tr>
<td>广东</td>
<td>深圳创智大厦店</td>
<td>广东省深圳市南山区南山街道科技南一路深投控创智天地大厦116号</td>
</tr>
<tr>
<td>广东</td>
<td>广州力迅雅筑店</td>
<td>东省广州市荔湾区康王路西关雅筑18房</td>
</tr>
<tr>
<td>福建</td>
<td>厦门石鼓路店</td>
<td>福建省厦门市集美区石鼓路122-105</td>
</tr>
</tbody>
</table>

<h4>氛围店</h4>

<table>
<thead>
<tr>
<th>地区</th>
<th>店铺名称</th>
<th>店铺地址</th>
</tr>
</thead>
<tbody>
<tr>
<td>广东</td>
<td>深圳留仙居店</td>
<td>广东省深圳市西丽街道西丽366大街半里花果1楼101号铺</td>
</tr>
<tr>
<td>广东</td>
<td>广州体育东路一店</td>
<td>广东省广州市天河区体育东路118号103-2铺自编B房号</td>
</tr>
<tr>
<td>广东</td>
<td>东莞卓越中寰店</td>
<td>广东省东莞市莞城街道天宝路16号巨汉商业中心3号楼111室</td>
</tr>
<tr>
<td>广东</td>
<td>佛山海五路店</td>
<td>广东省佛山市海五路19号美华国际金融贸易中心一层自编1025-2号单元</td>
</tr>
<tr>
<td>广东</td>
<td>中山万象汇店</td>
<td>广东省中山市石岐区孙文东路28号（中山石岐万象汇一层L162铺）</td>
</tr>
</tbody>
</table>
			</div>

			<h2 style="text-align:center;"> - 更多门店信息陆续更新中 - </h2>
		</div>

<!-- 
							<div class="container block-title" id="sns">
				<h1>社交媒体</h1>
			</div>

											<div class="container block sns-list">

												<a class="item" target="_blank" href="https://weibo.com/MichiNoTabi"><img src="/img/sns/weibo.png" /><span>微博 @魅知幻想之旅</span></a>
												<a class="item" target="_blank" href="https://space.bilibili.com/12260"><img src="/img/sns/bilibili.png" /><span>bilibili @魅知幻想之旅</span></a>
												<a class="item" target="_blank" href="https://www.xiaohongshu.com/user/profile/65aa1f9d000000000e003fbd"><img src="/img/sns/rednote.png" /><span>小红书 @幻想之旅演出活动</span></a>
		
		</div>
 -->


							<div class="container block-title" id="sns">
				<p>其他地区联动情报请关注后续消息</p>
			</div>


	<div class="site-footer container">
		<p>
			<span>©上海アリス幻樂団</span> / 
		<span>©魅知幻想之旅</span> / 
		<span>©罗森Lawson</span>
	</p>

	<p class="small">罗森×东方Project “魅知幻想夏绽季”活动为上海爱丽丝幻乐团官方授权，由魅知幻想之旅举办的联动活动。<br />相关产品为东方Project授权的二次创作商业作品，联动画师：核燃黑猫、肆久49</p>
	</div>
		

	</div>
	</div>



		
	</body>
</html>
