---
import Nav from "./nav.astro";
const {title, sideBg} = Astro.props;
---

<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <link href="/2025/style/common.css" rel="stylesheet"/>
    <link href="/2025/image/icon/iconfont.css?v=20200609" rel="stylesheet"/>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>
    <title>{title} - 魅知幻想博览会2025上海场·星核碳酸 × 上海THONLY</title>
</head>

<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?37f0adb0f8955187919cb2754e8af919";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<!-- Google tag (gtag.js) -->
<script src="https://www.googletagmanager.com/gtag/js?id=G-NSKYP2P0TE"/>
<script type="text/javascript">
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-NSKYP2P0TE');
</script>
<body>


<Nav sideBg={sideBg}/>
<script src="/2025/script/zepto.js" is:inline/>
<script src="/2025/script/common.js" is:inline/>


<slot/>

</body>

</html>