<div class="sidebar">
  <div class="background"><img class="person" id="person-img" src="#"/></div>
  <div class="content">
      <div class="logo"><img src="./image/logo2.png"/></div>
      <div class="nav">
          <a class="active" href="index.html">首页</a>
          <a href="intro.html">活动内容</a>
          <!-- <a href="music.html">上海THONLY·东方露明境</a> -->
          <a href="ticket.html">售票信息</a>
          <a href="notice.html">参展须知</a>
          <a href="apply-booth.html">展位招募</a>
          <a href="apply-custom.html">特殊参展申请</a>
          <a href="apply-staff.html">Staff招募</a>
          <a href="about.html">关于展会</a>
          <a href="./index-jp.html">日本語ページへ</a>
          <div class="bottom">
              <span>往届活动</span>
              <div class="list">
                  <a href="/2023/">2023：星虹澄空</a>
                  <a href="/2021/">2021：魅知幻想</a>
              </div>
          </div>
      </div>
  </div>
</div>
</div>