---
import OldSiteEnter from "../../../components/oldSiteEnter.astro";
import {hidden as h} from "../../../../public/2025/script/tools.js";
const url = Astro.url;
//console.log(url.pathname)
const isActive = (link) => {
    if (link == 'index.html' && url.pathname == '/2025/' && url.pathname == '/2025') return 'active';
    return !!url.pathname.includes(link) ? 'active' : '';
}

const navBgImg = Astro.props.sideBg ?? '#';

---

<div class="mobile-header">
    <div class="logo"><img src="/2025/image/logo2025_v1.webp"/></div>
    <a class="right mobile-header-menu" href="javascript:;"><i
            class="icon icon-menu"></i>菜单</a>
</div>
<div class="sidebar">
    <div style={h(navBgImg != undefined)} class="background"><img class="person" id="person-img" src={navBgImg}/></div>
  <div class="content">
      <div class="logo"><img src="/2025/image/logo2025_v1.webp"/></div>
      <div class="nav">
          <a class={isActive('index')} href="/2025/index.html">首页</a>
          <a class={isActive('intro')} href="/2025/intro.html">活动内容</a>
          <!--<a class={isActive('ticket')} href="/2025/ticket.html">售票信息</a>-->
          <a class={isActive('notice')} href="/2025/notice.html">参展须知</a>
          <a class={isActive('apply-booth')} href="/2025/apply-booth.html">展位招募</a>
          <a class={isActive('apply-custom')} href="/2025/apply-custom.html">特殊参展申请</a>
          <a class={isActive('apply-staff')} href="/2025/apply-staff.html">Staff招募</a>
          <a class={isActive('about')} href="/2025/about.html">关于展会</a>
          <!--<a class={isActive('index-jp')} href="/2025/index-jp.html">日本語ページへ</a>-->
          <OldSiteEnter/>
      </div>
  </div>
</div>

