* {
  padding: 0;
  margin: 0;
  transition-timing-function: cubic-bezier(.19, 1, .22, 1);
}

body,
html {
  height: 100%;
  width: 100%;
  font-family: "Microsoft YaHei";
  -webkit-font-smoothing: antialiased;
  color: #333;
  line-height: 1.5;
  overflow-x: hidden;
  font-size: 15px;
}

*{transition-timing-function: ease-in-out;}

.clear:after {
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.container{
  width: 800px;
  margin: 0 auto;
  padding: 40px 0;
}

.columns {
  box-sizing: border-box;
  margin-left: -10px;
  margin-right: -10px;
}

.column {
  box-sizing: border-box;
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  width: 33.333%
}

@keyframes personEntry
{
    from {opacity: 0;transform: translateX(-30px);}
    to {opacity: 1;transform: translateX(0px);}
}
 



.sidebar{
  background-color: #faf2ee;
  width: 30%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  .background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    .person{
      position: absolute;
      bottom: -2vw;
      left: -2vw;
      width: 90%;
      opacity: 0;
      animation: personEntry .8s ease-in-out forwards;
    }
  }
  .content{
    position: relative;
    z-index: 3;
    text-align: right;
    padding-top: 25%;
    .logo{
      padding: 0 40px;
      img{
        height: 120px;
      }
    }
    .nav{
      padding-top: 10%;
      a{
        display: block;
        text-decoration: none;
        height: 60px;
        line-height: 60px;
        padding: 0 40px;
        color: #333;
        &.active{
          color: #bf2d26;
          font-weight: bolder;
        }
        &:hover{
          background-color: rgba(255,255,255, .8);
        }
      }
    }
  }
}

.main{
  margin-left: 30%;
  position: relative;
  z-index: 1;

  .page-title{
    position: absolute;
    right: -12px;
    top: -7vw;
    z-index: -1;
    font-size: 3.6vw;
    font-weight: bold;
    color: #faf2ee;
    line-height: 1;
    user-select: none;
    transform: rotate(-90deg);
    transform-origin: right bottom;
  }
}

.page-content{
  padding: 60px 0;
  .article{
    line-height: 2;
    h2{
      padding-bottom: 30px;
    }
    p{
      margin: .75em 0;
    }
    .line{
      margin: .75em 0;
      padding: .75em 0;
    }
  }
}

.button{
  background: #7588ba;
  color: #fff;
  display: inline-block;
  padding: 8px 20px;
  text-decoration: none;
  transition: all .3s;
  &:hover{
    background-color: #445b91;
  }
}

.page-index{
  .intro{
    font-size: 18px;
    letter-spacing: .2em;
    text-align: center;
    line-height: 2;
  }
}

.placeholder{
  background-color: #eee;
  height: 600px;
  line-height: 600px;
  color: #ddd;
}

.page-intro{
  .enter{
    padding: 60px;
    background-color: #eee;
    background-size: cover;
    background-position: center center;
    position: relative;
    transition: .3s all;
    .mask{
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      background-color: #fff;
      opacity: .7;
      transition: .3s all;
    }
    .content{
      position: relative;
      z-index: 5;
      h2{
        padding-bottom: 40px;
      }
    }
    &:hover{
      padding: 100px 0;
      color: #fff;
      .mask{
        background-color: #000 !important;
        opacity: .4;
      }
    }
  }
}

.coming-soon{
  display: flex;
  align-items: center;
  align-content: center;
  height: 100vh;
  text-align: center;
  font-size: 30px;
  color: #888;
  .icon{
    opacity: .7;
    height: 200px;
    padding-bottom: 30px;
  }
  p{
    letter-spacing: .5em;
    text-indent: .5em;
  }
}

.staff-list{
  span{
    width: 100px;
    float: left;
    text-align: right;
    margin-right: 20px;
  }
}


.event-preview{
  .container{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
  }
  .main-content{
    width: 48%;
    margin-right: 2%;
  }
  .map{
    width: 50%;
    height: 400px;
  }
  h1.position{
    position: absolute;
    bottom: 40px;
    right: 0;
    color: rgba(0,0,0, .6);
    font-size: 55px;
    z-index: 999;
  }
  .event-title-box{
    padding-bottom: 20px;
    margin-bottom: 20px;
    &::before{
      content: "";
      display: block;
      height: 5px;
      width: 20%;
      background-image: linear-gradient( 135deg, #FEB692 10%, #EA5455 100%);
    }
  }
  .event-title {
    .cross{
      height: 20px;
      width: 20px;
      margin: 0 10px;
      display: block;
    }
    font-size: 30px;
  }
  .line{
    padding: 5px;
  }
  .tag{
    display: inline-block;
    background-color: #eee;
    padding: 5px 10px;
  }
  .links{
    width: 100%;
    display: flex;
    text-align: center;
    .item{
      flex-grow: 1;
      display: block;
      text-decoration: none;
      color: initial;
      padding: 10px 0;
      height: 30px;
      line-height: 30px;
      img{
        height: 30px;
        width: 30px;
      }
      span{
        line-height: 30px;
        vertical-align: middle;
      }
    }
  }
}

.event-shanghai{
  .event-title-box{
    &::before{
      background-image: linear-gradient( 135deg, #FEB692 10%, #EA5455 100%);
    }
  }
}

.event-guangzhou{
  .event-title-box{
    &::before{
      background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
    }
  }
}

.event-beijing{
  .event-title-box{
    &::before{
      background-image: linear-gradient( 135deg, #FF9D6C 10%, #BB4E75 100%);
    }
  }
}