@font-face {
    font-family: "icon";
    src: url('iconfont.eot?t=1591387806115'); /* IE9 */
    src: url('iconfont.eot?t=1591387806115#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAASgAAsAAAAACQgAAARTAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDSAqFMIRAATYCJAMYCw4ABCAFhD0HURu/B8gusG3kMzBjdYNc0BoAgIzXxcVD33787uzO22+CiDY8qScICRLRtIqFZpqJHCqh/w4e8vvpnfOFKxZmxTSIW2DiqF1ST5emEy1M3IvKRLxMRL62z7UXkOLmNEDAoHjYgAPGU0x8hHzi3nHLOs+7Zx8AGnPTHhh1UQIRjDF1TaFA4gBD7QGetV2oCVhOYNhSIYgD9IQCsJCoXSAuStlasHBpZUx6GBRayNAUz8DUYLlvchvAU/398ReisqDoKlrpzIXcBsj4gX63I50RqKibQFeeGbdRVGwGkrgVar0CmYHNkOHPN4gcA0YNKvIH+mH5I/hz6bd2YwAuITnDKFvIBvJK/POiEaWjSDsR7PiBZILkhyVB4UcwN15WigSV3+382VK2EpuM4DtATAHRN/MXVaimrZYinG4x5WE3irgZtO2Y7ZFVffp9jS7bd9m75iTJN7YNWxxh55zArUcdjlv1PnDTOW6BK1hZPXRgt7sQu2r6zjaeW33myf1qEKceTYyXsRgdebDLgWW2NW4/bofZ7au36mwbsFJlyyp7pmHLvHPDT4StH6cU7De4pzd3d529eT2g4ETHwTO+BUMGw3B6QfGeJ24pnsadZ27cCi5u7j7U5ld8JnHsY0ORwTDPoIoe2zM9LiTx1qOrjzuwZPtw3ZMnhY8fFwQforH73C2rXe+99Cu1l+NDuFf/Qp5QukN/UxwFtx48OA1RnQKm/f1TI+0Zp6yjxORHvpPfI4xydfQULPqmA12/DB2wqSvsG9fvnD69obZIfAsKz9dCfqH1bXFRbU1JgSHC2k+cXoDBa+jPAu8mz4oKzybvBf9LajHt82zsMurU284ivT7HbGh8c2XlvbgKS6U3Zox95PW8rJmXC8rLN4SXm8l8anL1+vE554mjND2WOA9xtyZmLRnk/Gf4PM8YV5FXZfExvYEQ9+aT9mQ+ViVeumHlC5qorCRoZqkqGpBjv8BrtVEvmA/QH31GIQDUeybnAfrQSkTQi4bROYAepEKbzpzP+P9VNKd6dMpfCxLMwLV9urtHBOmksPtlUvPOE17KovwKSNfyXVhuIdDshlalmWEu4+xwTntdln0OsM0h7zxEMWABqrSclLTV6IxYjyZtwbBN4kePmKUOEjmEjbSAMOg5inHvUQ36QkraV3TmuoJm0AyGnfVhyhFrSySzeVwr4Aaqbg4lredUjKQRSCN+Gma1ilr+zpG9RZjXSNFDRYZFOMN5WIX5PD00M9koQWAohueUFJ15NaxQcJSa52S4XgiTCII6KTycCTtQWD2nBNJ+PKyWAGtAqTMHRaoeR4VRnQLS13kajKWlUIsPEejmIhjFmjsHMymRwkTEkPKkqtiCddXWmIkVRSBgxFYMHkeJQtduxhQc4FDU4Y1ksHqCMJIcPrUk4UIpJq00rF65cmlWwDDaZYsSNTK6aDGgXZLWy7EgmohVWtN6ntNoRAqpSm6h5jRSYeg1AAA=') format('woff2'),
    url('iconfont.woff?t=1591387806115') format('woff'),
    url('iconfont.ttf?t=1591387806115') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */ url('iconfont.svg?t=1591387806115#icon') format('svg'); /* iOS 4.1- */
}

.icon {
    font-family: "icon" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-ticket:before {
    content: "\e9af";
}

.icon-menu:before {
    content: "\e609";
}

.icon-cross:before {
    content: "\e659";
}

.icon-link:before {
    content: "\e603";
}

.icon-position:before {
    content: "\e62b";
}

