extends  ./layout/main.pug

block header
  -  nav = "about"
  title 关于展会 - 魅知幻想博览会

block main
  .page-about.page-content
    .page-title
      h1 关于展会
    .ch.container.article
      p ‍年初的疫情对于我们的各行各业都是一个沉重的打击，对于国内的东方同人活动亦是如此。不过未来仍然是美好的，对于国内的东方展会来说亦是如此。
      p 2020年8月15-16日的这个周末，国内首届以全国级tho为目标筹办的东方展会——第一届魅知幻想博览会，将计划在上海举办。
      p 这也许会是一个属于中国东方爱好者的例大祭，也许是国内东方同人文化的绝佳舞台，也许是国内东方爱好者的一次节日盛典。它也许和国内东方Project的未来一样，有着无限的可能性。 
    .ch.container.article.staff-list
      p <span>主催</span><a href="#">囧仙子</a>
      p <span>Staff</span><a href="#">...</a>、<a href="#">...</a>、<a href="#">...</a>
      p <span>网站</span><a href="#">Nekotora</a>
    .ch.container.article
      p 这里应该有一些二维码