extends  ./layout/main.pug

block header
  -  nav = "apply-custom"
  title 特殊参展申请 - 魅知幻想博览会

block main
  <script>setPersonImg('./image/b/koishi.png');</script>
  .page-ticket.page-content
    .page-title
      h1 参展申请
    .ch.container.article
      h2 媒体/摄影师参展申请
      p Lorem ipsum dolor sit amet, in nam justo docendi dissentiunt. Aeterno gubergren eam ei. Sumo consulatu adipiscing pro ei, vis elit choro id. Augue utroque omittam cu mel, saperet similique eu vel, eum suscipit aliquando urbanitas at. Nec delenit voluptatibus et, cu recusabo invenire evertitur cum. Euismod euripidis referrentur ad vel, nec an viderer noluisse.
      p Sed facete gubergren no, melius vocibus facilis at duo. Ad ancillae referrentur eam, ea summo epicuri pericula mea, vis te quod eros. At amet recusabo has. Graeco alienum pertinax te qui. Has senserit deterruisset ad, agam melius vis ei.
      .line
        a.button(href="#") 唯一指定联系邮箱：233333@qq.com
    .ch.container.article
      h2 业界/专业观众参展申请
      p Errem fastidii accusata ut has. Porro augue delenit id mei, natum alienum ex vix, alia nostro constituam ei mea. Perfecto singulis molestiae eam id. Duo viris quaerendum ea, quo prima denique te. Nulla eligendi cum et, vix ut laoreet impedit pericula, oratio ubique tempor eum ne. Eu feugiat labores expetendis vel.
      p Eos iudico singulis te, ad eam semper conceptam, facilis vituperata sit ea. Vel ancillae adversarium an, no magna animal sed. Pri meis nulla essent at. Vel doming commune laboramus te, movet commodo dissentiunt eu has, rebum dolores has et.
        