extends  ./layout/main.pug

block header
  -  nav = "apply-booth"
  title 摊位招募 - 魅知幻想博览会

block main
  .page-ticket
    .page-title
      h1 摊位招募
    .ch.coming-soon
      .container
        img(class="icon", src="./image/shrine.png")
        p 少女祈祷中...