extends  ./layout/main.pug

block header
  -  nav = "index"
  title 首页 - 魅知幻想博览会

block main
  .page-index
    .page-title
      h1 关于活动
    .ch.meta.intro
      .intro-post(style="background-image: url(./image/intro-post.jpg);")
      .container.desc
        h1.event-title 魅知幻想博览会
        p 国内首个以全国量级THO为目标筹办的东方展会——第一届魅知幻想博览会
        p 这也许会是一个属于中国东方爱好者的例大祭，
        p 也许是国内东方同人文化的绝佳舞台，
        p 也许是国内东方爱好者的一次节日盛典。
        p 它也许和国内东方Project的未来一样，有着无限的可能性。
    .ch.event-preview.event-shanghai
      .container
        .main-content
          .event-title-box
            h1.position 上海
            .event-title 魅知幻想博览会<img class="cross" src="./image/cross.svg">上海ComicUp 26
            .event-subtitle 2020.7.25 - 26 · 国家会展中心（上海）
          .sub-event 魅知幻想歌谣会5G版2020（上海场）
          .links 
            a.item(href="https://www.allcpp.cn/allcpp/event/event.do?event=865", target="_blank")
              i.icon.icon-link
              span 活动网站
            a.item(href="https://j.map.baidu.com/b3/PC", target="_blank")
              i.icon.icon-position
              span 地图导航
        .map#map-shanghai
    .ch.event-preview.event-guangzhou
      .container
        .main-content
          .event-title-box
            h1.position 广州
            .event-title 魅知幻想博览会<img class="cross" src="./image/cross.svg">广州萤火虫<br>动漫游戏嘉年华24
            .event-subtitle 2020.8.21 - 23 · 广州琶洲保利世博展览馆
          .sub-event 魅知幻想歌谣会5G版2020（广州场）
          .links 
            a.item(href="http://www.fireflyacg.com/", target="_blank")
              i.icon.icon-link
              span 活动网站
            a.item(href="https://j.map.baidu.com/f3/Z", target="_blank")
              i.icon.icon-position
              span 地图导航
        .map#map-guangzhou
    .ch.event-preview.event-beijing
      .container
        .main-content
          .event-title-box
            h1.position 北京
            .event-title 魅知幻想博览会<img class="cross" src="./image/cross.svg">北京IDO JOY 2020
            .event-subtitle 2020.10.2 - 4 · 国家会议中心
          .sub-event 魅知幻想歌谣会5G版2020（北京场）<br>幻奏华章 2020天津场
          .links 
            a.item(href="http://www.idoacg.com/", target="_blank")
              i.icon.icon-link
              span 活动网站
            a.item(href="https://j.map.baidu.com/f2/cq", target="_blank")
              i.icon.icon-position
              span 地图导航
        .map#map-beijing

    script(type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=64665E5BCEdfb17ec826f5f890f07c57")
    script.
      function initMap(element, pointlat, pointlng){
        var map = new BMap.Map(element);
        var point = new BMap.Point(pointlat, pointlng);
        map.centerAndZoom(point, 15);
        var marker = new BMap.Marker(point);
        map.addOverlay(marker)
      }
      window.onload = function(){
        initMap('map-shanghai',121.3084,31.196105)
        initMap('map-guangzhou',113.371768,23.103685)
        initMap('map-beijing',116.396466,40.006295)
      }