extends  ./layout/main.pug

block header
  -  nav = "index"
  title 首页 - 魅知幻想博览会

block main
  .page-index
    .page-title
      h1 关于活动
    .ch.meta.intro
      .placeholder
        h1 这里大概有一张巨大的海报报报报报
      .container
        p 同人世界，一日幻想！
        p 以全国级TouhouOnly为目标筹办的东方展会。
        p 2020<sub>年</sub>8<sub>月</sub>15-16<sub>日</sub>
        p 中国上海
      .container
        p 这里应该有个地图