extends  ./layout/main.pug

block header
  -  nav = "intro"
  title 活动内容 - 魅知幻想博览会

block main
  .page-intro
    .page-title
      h1 活动内容
    .ch.enter(style="background-image: url('./image/intro/doujin.jpg')")
      .mask(style="background-color: #FFFFCC")
      .container.content
        h2 一般同人区
        p 同人世界，一日幻想。
    .ch.enter(style="background-image: url('./image/intro/games.jpg')")
      .mask(style="background-color: #FFCC99")
      .container.content
        h2 游戏区
        p 看大佬打游戏真的是非常*好*的。
    .ch.enter(style="background-image: url('./image/intro/reitaisai.jpg')")
      .mask(style="background-color: #CCFFFF")
      .container.content
        h2 博丽神社例大祭专区
        p 例大祭专区
    .ch.enter(style="background-image: url('./image/intro/booth-special.jpg')")
      .mask(style="background-color: #FFCC99")
      .container.content
        h2 特别展位
        p 特别展位
    .ch.enter(style="background-image: url('./image/intro/knowledge.jpg')")
      .mask(style="background-color: #99CC99")
      .container.content
        h2 东方科普区
        p 80000000米东方展板，看完你也是车车人
    .ch.enter(style="background-image: url('./image/intro/stage.jpg')")
      .mask(style="background-color: #FFCCCC")
      .container.content
        h2 主舞台
        p 下面有请现场观众提问——
    .ch.enter(style="background-image: url('./image/intro/activity.jpg')")
      .mask(style="background-color: #CCFF99")
      .container.content
        h2 场内活动
        p 更多的现场问答和收集活动（完全答不上来！
    .ch.enter(style="background-image: url('./image/intro/scenery.jpg')")
      .mask(style="background-color: #CCCCFF")
      .container.content
        h2 布景搭建
        p 在这里呈现幻想乡的一角。
