extends  ./layout/main.pug

block header
  -  nav = "notice"
  title 首页 - 魅知幻想博览会

block main
  .page-notice.page-content
    .page-title
      h1 参展须知
    .ch.container.article
      h2 一般游客参展须知
      p An primis petentium consulatu his, ei quo repudiandae concludaturque. Est unum soleat explicari an, praesent cotidieque liberavisse eos ut. Vel error definitiones cu, in inani tantas populo sit. Unum omittantur te vix, fabulas salutandi gubergren in sit. Cum an oporteat expetenda definitiones, sed nulla nominavi adversarium in.
    .ch.container.article
      h2 Cosplay参展须知
      p Errem fastidii accusata ut has. Porro augue delenit id mei, natum alienum ex vix, alia nostro constituam ei mea. Perfecto singulis molestiae eam id. Duo viris quaerendum ea, quo prima denique te. Nulla eligendi cum et, vix ut laoreet impedit pericula, oratio ubique tempor eum ne. Eu feugiat labores expetendis vel.
      p Eos iudico singulis te, ad eam semper conceptam, facilis vituperata sit ea. Vel ancillae adversarium an, no magna animal sed. Pri meis nulla essent at. Vel doming commune laboramus te, movet commodo dissentiunt eu has, rebum dolores has et.
        