extends  ./layout/main.pug

block header
  -  nav = "ticket"
  title 首页 - 魅知幻想博览会

block main
  .page-ticket
    .page-title
      h1 售票信息
    .ch.coming-soon
      .container
        img(class="icon", src="./image/shrine.png")
        p 少女祈祷中...