extends  ./layout/main.pug

block header
  -  nav = "ticket"
  title 首页 - 魅知幻想博览会

block main
  <script>setPersonImg('./image/b/sakuya.png');</script>
  .page-ticket
    .page-title
      h1 售票信息
    .ch.coming-soon
      .container
        img(class="icon", src="./image/shrine.png")
        p 少女祈祷中...
        .info 
          p 目前票务准备中，请耐心等待后续开票通知。
          p 除了在官网更新之外，我们也会第一时间在我们的『信息发布渠道以及官方QQ群（设置个链接到关于展会页面）』进行通知。